<!DOCTYPE html>
<html>
<head>
  <title>Баг-трекер</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Список багов</h1>
    <a class="btn btn-primary mb-3" href="/new">Добавить баг</a>
    <ul class="list-group">
      <% if (bugs && bugs.length > 0) { %>
        <% bugs.forEach(bug => { %>
          <li class="list-group-item">
            <strong><%= bug.title %></strong> - <%= bug.status %>
            <% if (bug.status === 'open') { %>
              <form class="mt-2 d-inline" method="POST" action="/close/<%= bug.id %>">
                <button class="btn btn-sm btn-danger" type="submit">Закрыть</button>
              </form>
            <% } %>
            <form class="mt-2 d-inline" method="POST" action="/delete/<%= bug.id %>" onsubmit="return confirm('Удалить баг?');">
              <button class="btn btn-sm btn-outline-danger" type="submit">Удалить</button>
            </form>
            <p class="mt-2"><%= bug.description %></p>
            <% if (bug.screenshot) { %>
              <div class="mt-2">
                <img src="<%= bug.screenshot %>" alt="Скриншот" style="max-width: 300px; max-height: 200px; cursor:pointer"
                  data-bs-toggle="modal" data-bs-target="#imgModal" data-img="<%= bug.screenshot %>">
              </div>
            <% } %>
          </li>
        <% }); %>
      <% } else { %>
        <li class="list-group-item">Перекати поле.</li>
      <% } %>
    </ul>
  </div>


  <div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="imgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-body p-0">
          <img id="modalImg" src="" alt="Скриншот" style="width:100%;height:auto;">
        </div>
      </div>
    </div>
  </div>
  <script>
    var imgModal = document.getElementById('imgModal');
    imgModal && imgModal.addEventListener('show.bs.modal', function (event) {
      var trigger = event.relatedTarget;
      var imgSrc = trigger.getAttribute('data-img');
      document.getElementById('modalImg').src = imgSrc;
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
